<div class="inicio-container">
  <!-- ===== BANNER PRINCIPAL ===== -->
  <section class="banner">
  <div class="banner-content">
    <div class="banner-text">
      <h2>Productos Artesanales que Marcan la Diferencia</h2>
      <p>
      Transformamos la cáscara de coco en artículos exclusivos
        para decoración, moda y souvenirs. Calidad, diseño y artesanía en cada pieza.
      </p>
      <a href="/productos" class="btn-banner">Comprar Ahora</a>
    </div>
  </div>
</section>

  <!-- ===== SOBRE NOSOTROS ===== -->
  <section class="about">
    <div class="about-content container">
      <div class="about-image">
        <img src="icon2.png" alt="Maxdrill Rock Tools" />
      </div>
      <div class="about-text">
        <h3>Sobre Nosotros</h3>
        <p>
          ECO-CRAFT es una empresa peruana dedicada al diseño, fabricación y comercialización de
          productos artesanales elaborados a partir de la cáscara de coco. Transformamos esta
          materia prima en artículos únicos, funcionales y de alta calidad que destacan por su
          diseño, durabilidad y valor artesanal..
        </p>
        <a class="btn-primary" routerLink="/empresa">Conoce más</a>
      </div>
    </div>
  </section>

  <!-- ===== PRODUCTOS PRINCIPALES ===== -->
  <section class="productos container">
    <h3 class="section-title">Rango de Productos</h3>
    <p class="section-desc">
       Descubre nuestra colección de artículos artesanales elaborados con cáscara de coco,
    diseñados para decoración, moda, regalos y souvenirs únicos con identidad peruana.
    </p>

    <div class="grid-productos">
      <div class="producto" *ngFor="let producto of productos">
        <a>
          <img [src]="producto.imagen" [alt]="producto.nombre" />
          <h4>{{ producto.nombre }}</h4>
        </a>
      </div>
    </div>
  </section>

  <!-- ===== INDUSTRIAS ===== -->
  <!-- <section class="industrias">
    <div class="container">
      <h3 class="section-title">Industrias a las que servimos</h3>
      <p class="section-desc">
        Ofrecemos herramientas confiables para minería, túneles, canteras, pozos y construcción.
      </p>

      <div class="grid-industrias">
        <div class="industria" *ngFor="let ind of industrias">
          <a>
            <img [src]="ind.imagen" [alt]="ind.nombre" />
            <h4>{{ ind.nombre }}</h4>
          </a>
        </div>
      </div>
    </div>
  </section> -->
</div>
