<footer class="footer bg-dark text-light py-4">
  <div class="container">
    <div class="row">
      <!-- Columna 1: Productos -->
      <div class="col-md-4 mb-4">
        <h5 class="footer-title">PRODUCTOS</h5>
        <ul class="list-unstyled">
          <li><i class="fa fa-arrow-right me-2"></i> Herramientas de Perforación con Martillo en Cabeza</li>
          <li><i class="fa fa-arrow-right me-2"></i> Herramientas de Perforación DTH</li>
          <li><i class="fa fa-arrow-right me-2"></i> Herramientas de Perforación en Sobrecarga</li>
          <li><i class="fa fa-arrow-right me-2"></i> Brocas Rotatorias</li>
          <li><i class="fa fa-arrow-right me-2"></i> Bulones de Anclaje</li>
          <li><i class="fa fa-arrow-right me-2"></i> Herramientas de Perforación de Piqueras</li>
          <li><i class="fa fa-arrow-right me-2"></i> Herramientas de Perforación de Granito y Mármol</li>
          <li><i class="fa fa-arrow-right me-2"></i> Otros Productos</li>
        </ul>
      </div>

      <!-- Columna 2: Logo y contacto -->
      <div class="col-md-4 mb-4 text-center">
        <img src="assets/logo_maxdrill.png" alt="Maxdrill Logo" class="footer-logo mb-3">
        <p class="fw-bold mb-1">Maxdrill Rock Tools Co., Ltd.</p>
        <div class="footer-divider my-3"></div>
        <p><i class="fa fa-user me-2"></i> Hedy Huang</p>
        <p><i class="fa fa-envelope me-2"></i> officekemaico.com</p>
        <p><i class="fa fa-phone me-2"></i> +1 847-913-6878</p>
        <p><i class="fa fa-phone me-2"></i> +86-851-88639106</p>
      </div>

      <!-- Columna 3: Industrias -->
      <div class="col-md-4 mb-4">
        <h5 class="footer-title">INDUSTRIAS</h5>
        <ul class="list-unstyled">
          <li><i class="fa fa-arrow-right me-2"></i> Minería</li>
          <li><i class="fa fa-arrow-right me-2"></i> Construcción de Túneles</li>
          <li><i class="fa fa-arrow-right me-2"></i> Canteras</li>
          <li><i class="fa fa-arrow-right me-2"></i> Pozos de Agua</li>
          <li><i class="fa fa-arrow-right me-2"></i> Construcción</li>
          <li><i class="fa fa-arrow-right me-2"></i> Pilotaje</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
