<nav class="top-header d-flex justify-content-center align-items-center">
  <a href="https://www.facebook.com" target="_blank" class="social-link">
    <i class="fa-brands fa-facebook-f"></i>
  </a>
  <a href="https://www.instagram.com" target="_blank" class="social-link">
    <i class="fa-brands fa-instagram"></i>
  </a>
  <a href="https://twitter.com" target="_blank" class="social-link">
    <i class="fa-brands fa-x-twitter"></i>
  </a>
  <a href="https://www.linkedin.com" target="_blank" class="social-link">
    <i class="fa-brands fa-linkedin-in"></i>
  </a>
</nav>
